
body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: left;
    background-color: #f8f6f0;
}
.question{
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
    background-color: rgb(52, 17, 140);
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
	cursor: pointer;
}
button:hover{
	background-color: #38a;
}

.slide{
    position: fixed;
    padding: 10px 10px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 99; 
    width: 50%;
    height: 50%;
    border-bottom: 3px solid black ;
}
.quiz-container{
    position: relative;
    height: 500px;
    margin: auto;
    width: 50%;
}
.radio-toolbar input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label{
    background-color: rgb(52, 17, 140);
    color: white;
    padding: 18px 25px;
    border-radius: 10px;
    width: 100%;
}
.radio-toolbar label:hover{
    background-color: palevioletred;
    cursor: pointer;
}
.intro-page{
    text-align: center;
}
.intro-page h1{
    font-size: 35px;
    font-weight: bold;
}
.intro-page p{
    font-size: 23px;
}
.result{
    font-size: 40px;
    width: 50%;
    margin: auto;
}
